In [34]:
##Create a variable named carname and assign the value Volvo to it.
carname= "valvo"
print(carname)

valvo

In [35]:
##Create a variable named x and assign the value 50 to it.
x=50
print(x)

50

In [36]:
##Display the sum of 5 + 10, using two variables: x and y.
x=5
y=10
print(x+y)

15

In [40]:
##Create a variable called z, assign x + y to it, and display the result.
x=4
y=3
z=x+y
print(z)

7

In [5]:
##Remove the illegal characters in the variable name

2myvar = "doaa"
my-var = "doaa"
my var = "doaa"

SyntaxError: invalid syntax (2853018835.py, line 1)

In [32]:
##Insert the correct syntax to assign the same value to all three variables in one code line.
a = b = c = "math" 
print(a)
print(b)
print(c)

math
math
math

In [ ]:
##The following code example would print the data type of x, what data type would that be?

In [29]:
x = 5

print(type(x))
type intger

<class 'int'>

In [ ]:
x = "Hello World"
print(type(x))
type string

In [ ]:
x = 20.5
print(type(x))
type float

In [ ]:
x = ["apple", "banana", "cherry"]
print(type(x))
type list

In [ ]:
x = {"name" : "John", "age" : 36}
print(type(x))
type dictionary

In [41]:
x = ("apple", "banana", "cherry")
print(type(x))
type tuple

<class 'tuple'>

In [ ]:
x = True
print(type(x))
type bool

In [ ]:
##ed of type

In [42]:
##Insert the correct syntax to convert x into a floating point number.

x = 5
x = float(x)

In [43]:
x

5.0

In [44]:
##Insert the correct syntax to convert x into a int point number.

x = 5.5
x = int(x)

In [45]:
x

5

In [46]:
##Use the len method to print the length of the string.

x = "Hello World"
print(len(x))

11

In [50]:
##Get the first character of the string txt.
txt = "Hello World"
print(txt[0])

H

In [52]:
##Get the characters from index 2 to index 4 (llo
txt = "Hello World"
print(txt[2:5])

llo

In [56]:
##Return the string without any whitespace at the beginning or the end
txt = "Hello World"
txt.strip()

'Hello World'

In [57]:
##Convert the value of txt to upper case.
txt = "Hello World"
txt.upper()

'HELLO WORLD'

In [60]:
##Convert the value of txt to lower case.
txt = "Hello World"
txt.lower()

'hello world'

In [62]:
##Using format function to print the age

age = 36
txt = "My name is John, and I am "
txt="my name is john,and I am{age}".format(age=36)
print(txt)

my name is john,and I am36

In [ ]:
##he statement below would print a Boolean value, which one?

In [ ]:
print(10 > 9)

In [ ]:
true

In [ ]:
print(9==10)

In [ ]:
false

In [ ]:
print(10 < 9)

In [ ]:
false

In [65]:
##Multiply 10 with 5, and print the result.
def add_func(x,y):
    return x*y
add_func(10,5)

50

In [67]:
##divide 10 with 5, and print the result.
def add_func(x,y):
    return x/y
add_func(10,2)

5.0

In [69]:
##Create a list and check if the value in this list or not

mylist=["math","arabic","science"]
if type(mylist) == list:
    print("mylist")
else:
    print("error")

mylist

In [70]:
##Use the correct comparison operator to check if 5 is not equal to 10.
if 5 != 10:
    print("not equal")

not equal

In [71]:
##use if one of tow state is true
if 4==4 or 3>4 :
    print("at least one")

at least one

In [72]:
##Print the second item in the fruits list.

fruits = ["apple", "banana", "cherry"]
print(fruits[1])

banana

In [73]:
##hange the value from "apple" to "kiwi", in the fruits list.
fruits = ["apple", "banana", "cherry"]
fruits[0]= "kiwi"
print(fruits)

['kiwi', 'banana', 'cherry']

In [74]:
##Use the append method to add "orange" to the fruits list.
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [75]:
##Use the insert method to add "lemon" as the second item in the fruits list.

fruits = ["apple", "banana", "cherry"]
fruits.insert(1, "lemon")
print(fruits)

['apple', 'lemon', 'banana', 'cherry']

In [76]:
##se the remove method to remove "banana" from the fruits list.

fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [77]:
##Use negative indexing to print the last item in the list.
fruits = ["apple", "banana", "cherry"]
print(fruits[-1])

cherry

In [78]:
##use a range of indexes to print the third, fourth, and fifth item in the list.
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[2:5])

['cherry', 'orange', 'kiwi']

In [79]:
##Use the correct syntax to print the number of items in the list.
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
len(fruits)

7

In [ ]:
##Use the correct syntax to print the first item in the fruits tuple.
fruits = ("apple", "banana", "cherry")
print(fruits[0])

In [80]:
##Use the correct syntax to print the number of items in the fruits tuple.

fruits = ("apple", "banana", "cherry")
len(fruits)

3

In [81]:
##Use the add method to add "orange" to the fruits set.

fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
print(fruits)

{'banana', 'cherry', 'apple', 'orange'}

In [82]:
##Use the correct method to add multiple items (more_fruits) to the fruits set.
fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes"]
for item in more_fruits:
    fruits.add(item)
print(fruits)

{'cherry', 'orange', 'apple', 'grapes', 'mango', 'banana'}

In [83]:
##use the remove method to remove "banana" from the fruits set.
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)

{'cherry', 'apple'}

In [ ]:
##dicionary example

In [ ]:
car ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(car.get("model"))

In [ ]:
car ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car["year"] = 2020
print(car)

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car["color"] = "red"
print(car)

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.pop("model")
print(car)

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.clear()
print(car)

In [ ]:
##end of dic example

In [ ]:
a=1
b=2
if a==b:
    print(1)
elif a>b:
    print(2)
else:
    print(3)

In [ ]:
##This example misses indentations to be correct.Insert the missing indentation to make the code corr
if 5 > 2:
    print("Five is greater than two!")

In [90]:
 
##use the correct short hand syntax to write the following conditional expression in one line:
    print("Yes" if 5 > 2  else  "No")

IndentationError: unexpected indent (1275673027.py, line 2)

In [91]:
##Print i as long as i is less than 6.
i = 0
while i < 6:
    print(i)
    i +=1

0
1
2
3
4
5

In [92]:
##Stop the loop if i is 3.
i = 0
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

0
1
2
3

In [93]:
##In the loop, when i is 3, jump directly to the next iteration.
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [97]:
##Print a message once the condition is false.

i = 0
while i < 6:
  print(i)
  i += 1
else:
  print("false")

0
1
2
3
4
5
false

In [95]:
##n the loop, when the item value is "banana", jump directly to the next item.
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [96]:
##Use the range function to loop through a code set 6 times
for x in range(6):
  print(x)

0
1
2
3
4
5

In [98]:
##Exit the loop when x is "banana".
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [100]:
##Create a function named my_function.
def my_func():
    print("my name is doaa")
my_func()

my name is doaa

In [102]:
###execute my fun
my_func()

my name is doaa

In [106]:
##inside func with 2 paramater
def my_func(x,y):
      return x+y
my_func(4,8)

12

In [111]:
##Let the function return the x parameter + 5.
def my_func(x):
    return 5+x
my_func(3)

8

In [112]:
##f you do not know the number of arguments that will be passed into your function, there is a prefix you can add in the function definition, which prefix?

def my_func(*x):
    print("my name is" ,x[1])
my_func("doaa","yara","areg")

my name is yara

In [117]:
###f you do not know the number of keyword arguments that will be passed into your function, there is a prefix you can add in the function definition, which prefix?

ANSWER BUT MAKE ERROR
#def my_func(**x):
 #   print("my name is" + fname)
#my_func(fname="doaa",sname="yara",lname"areg")

In [118]:
####Create a lambda function that takes one parameter (a) and returns it.
x =lambda a:a
print(x(5))

5